@font-face {
		font-family: Wigrum;
		src: url('./wigrumweb-regular.woff') format('woff2');
}

@font-face {
		font-family: SweetSans;
		src: url("./Sweet-SweetSans-Light.otf") format('opentype');
}

body {
		margin: 0;
		background-color: #003DA6;
		height: 1000vh;
		color: white;
		overflow-x: hidden;
		display:flex;

}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 90%;
    height: 100%;
    position:fixed;
    margin-left:5%;
    top:0vh;
}

/*.two, .three, .threet, .four, .five, .six, .seven, .sevent, .nine, .ninet, .ten, .tent, .hidden{
	display:none;
}*/

.animated{
	display:block;
}


.placeholder {
		top: 70vh;
		position: fixed;
}

.basesection {
		position: absolute;
		background-color: rgb(0, 15, 108);
		width: 100vw;
		height: 100vh;
		top: 900vh;
		z-index: +10;
		font-family: SweetSans;
}

#map {
		height: 40vh;
		/* The height is 400 pixels */
		width: 100%;
		/* The width is the width of the web page */
		z-index: +10;
}
.scroll{
		height: 100vh;

}

.main {
		height: 100vh;
		font-family: Wigrum;
		font-size: 50px;
		line-height: 50px;
		display:flex;

}

p {
		font-size: 22px;
		line-height: 35px;
		letter-spacing: 2px;
		margin-left: 30px;
		margin-top:20px;
}

h3 {
		letter-spacing: 2px;
		margin-left: 30px;
}

h5{
	margin-bottom:10px;
}

.topline {
		top: 18vh;
		position: relative;
		letter-spacing: 3px;
		line-height: 52px;
}

.midline {
		top: 25vh;
		position: relative;
		letter-spacing: 3px;
		line-height: 52px;


}

.baseline {
		top: 40vh;
		position: relative;
		letter-spacing: 3px;
		line-height: 52px;


}

.altbaseline {
		top: 55vh;
		position: relative;
		letter-spacing: 3px;
				line-height: 52px;


}

.wrapper {
		width: 90vw;
		margin: 0 5vw;
		height: 100vh;
}

.lockup {
		position: fixed;
		height: 100vh;
		width: 90vw;
		font-family: SweetSans;
		margin: 0 5vw;
				z-index:+10;
}

.lockupm, .lockupp, .signupp, .sevenp{
	display:none;
}

.logo {
		position: fixed;
		top: 5vh;
		width: 15vw;
		object-fit: contain;
		z-index: +11;
		margin-left: 5vw;
}

.logo img {
		width: 100%;
}

.leapline{
	width:40vw;
	object-fit: contain;
	float:right;
	position: absolute;
	right:0px;
	top:10vh;
	height:50vh;
}

.leapline img{
	width:100%;

}

.forM{
	display:none;
}

.right {
		text-align: right;
}

label{
	font-family: Wigrum;
	font-size:12px;
	letter-spacing: 0px;
}

.mc-half{
		width:42%;
		margin-right:5%;
		display: inline-block;
}

.mc-half input{
		width:100%;
}

.mc-field-group{
	margin-bottom:2%;
}

#mce-MMERGE2 {
		width:90%;
}

.button{
	background-color: #EA7851;
	border:none;
	color:white;
	width:20%;
	margin-top:10px;
}

.company {
		font-size: 20px;
}

.name {
		font-size: 70px;
		font-family: SweetSans;
		letter-spacing: 40px;
		line-height: 90px;
}

.mailerform{
	margin-top:10px;
}

.contact{
	font-size:17px;
}

.footer {
		top: 78vh;
		position: relative;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 2px;
}

.arrow {
		top: 80vh;
		position: relative;
		text-align: center;
		margin:0 auto;
}

.arrow img{
	width:5vw;
}

.altbody {
		position: relative;
		text-transform: uppercase;
		top: 20vh;
		font-size: 14px;
		height: auto;
}

.altfooter {
		position: relative;
		text-transform: uppercase;
		font-size: 12px;
		top: 45vh;
		font-family: Wigrum;
}

.lightbox{
	display:inline-block;
	}

.lightbox:hover{
		border-bottom:1px white solid;

}

#terms{
	width:auto;
	height:auto;
}

#privacy{
	width:auto;
	height:auto;
}

.tnc{
	width:100vw;
	height:100vh;
	display:none;
	background-color: rgba(0,0,0,0.8);
	z-index:+10;
	position: fixed;
	top:0;
}

.privacy{
	width:100vw;
	height:100vh;
	display:none;
	background-color: rgba(0,0,0,0.8);
	z-index:+10;
	position: fixed;
	top:0;
}

.popup{
	width:50vw;
	height:70vh;
	margin-top:15vh;
	background-color: white;
	color:#003DA6;
	border-radius: 5px;
}

.exit{
	position: relative;
	float:right;
	right:10px;
	margin-top:10px;
}

#exiterms{
	width:auto;
	height:auto;
}

#exitprivacy{
	width:auto;
	height:auto;
}

.linkedin {
		width: 30px;
		height: 30px;
		object-fit: contain;
}

.linkedin img {
		width: 100%;
}


.hidden{
		position: absolute;
    overflow: hidden;
    width: 45vw;
    height: 100vh;
    top:600vh;
    right:0;
    background-color:#003DA6;
    float:right;
}

.eight{
	display:none;
}

.hideagain{
	display:none;
}

.mobileleap{
	display: none;
}

/*phone landscape, tablet portrait*/
@media only screen and (max-width:900px) and (min-width: 621px){
body{
	  flex-direction: column;
	  overflow-x: hidden;
}

canvas[resize] {
    width: 130%;
    height: 110%;
    position:fixed;
    margin-left: -30%;
    top:-40vh;
}

.col-1,.col-2, .col-4, .col-6, .col-5, .col-8{
	max-width:100%;
}

.mobileleap{
	display: none;
}

.main{
	flex-direction: column;
	font-size:24px;
}

.logo{
	width:20vw;
}

.baseline{
	top: 25vh;
	position: relative;
	letter-spacing: 3px;
	line-height: 35px;
}

.topline {
		top: -29vh;
		position: relative;
		letter-spacing: 3px;
		line-height: 35px;
}

.midline {
		top: 0vh;
		position: relative;
		letter-spacing: 3px;
		line-height: 35px;
}

.mobileleap{
	height:100vh;
}

.altbaseline{
	top:6vh;
}
p{
	font-size:14px;
	line-height: 20px;
	margin-top:-40vh;
}

h3{
 font-size:22px;
 margin-left:30vw;
}

.lockup, .lockupm{
	display:none;
}

.arrow{
	top:72vh;
}

.arrow img{
	width:5vw;
}

.lockupp{
	display:block;
	position: fixed;
	height: 100vh;
	width: 90vw;
	font-family: SweetSans;
	margin: 0 5vw;
	z-index:+10;
}

.footer{
	font-size:10px;
	top:74vh;
}

.hidden{
	display:none;
}

.sevenp{
		display: inline-block;
}

.sevent{
	display: none;
}

.threet{
	margin-left:30vw;
	width:60vw;
}

.ninet{
	display:block;
	top:-40vh;
}

.nine{
	top:22vh;
}

.name{
	font-size:38px;
	letter-spacing: 20px;
}

.leapline{
	width:50vw;
}

.altbody{
	display:flex;
/*	flex-direction: column;
*/}

.altbody .col-4{
	margin-bottom:20px;
}

.altbody .base-full{
	max-width:94%;
	flex:none;
}

.dten{
display:block;
flex-direction: row;
margin-top:30vh;
}

.dten .col-8{
	display:inline-block;
	width:50vw;
}

.dten .col-4{
	display:inline-block;
	width:30vw;
}

.ten{
	top:18vh;
	line-height: 28px;
}

.tent{
	top:16vh;
}

.tent h5, .tent h6{
	display:none;
}

.button{
	width:100%;
}

.signupp{
	display:block;
	margin-top:9px;
}

.signupp h5, .signupp h6{
	line-height: 18px;
}

.basesection{
	height:250vh;
	top:963vh;
	z-index:+11;
	width:100vw!important;
}

.eight{
	height:50vh;
}

.altfooter{
	top:20vh;
	display:flex;
	flex-direction: column;
}

.altfooter .col-7, .altfooter .col-4, .altfooter .col-1{
	margin-top:20px;
}

#top{
text-align:center;
}

#mce-MMERGE2 {
		width:100%;
}

.mc-half{
	width:47%;
	margin-right:0;
}

#map {
		height: 90vh;
		/* The height is 400 pixels */
		width: 100%;
		/* The width is the width of the web page */
		z-index: +10;
}


}


/*phone portrait*/
@media screen and (max-width: 620px){
body{
	  flex-direction: column;
	  overflow-x: hidden;
}

canvas[resize] {
    width: 210%;
    height: 95%;
    position:fixed;
    margin-left: -50%;
}

.col-1,.col-2, .col-4, .col-6, .col-5, .col-8{
	max-width:100%;
}

.mobileleap{
	display: none;
}

.main{
	flex-direction: column;
	font-size:30px;
}

.logo{
	width:35vw;
}

.baseline{
	top: 25vh;
	position: relative;
	letter-spacing: 3px;
	line-height: 35px;
}

.topline {
		top: -29vh;
		position: relative;
		letter-spacing: 3px;
		line-height: 35px;
}

.midline {
		top: 0vh;
		position: relative;
		letter-spacing: 3px;
		line-height: 35px;
}

.mobileleap{
	height:100vh;
}

.altbaseline{
	top:10vh;
}
p{
	font-size:14px;
	line-height: 20px;
	margin-top:-30vh;
}

h3{
 font-size:22px;
 margin-left:30vw;
}

.lockup, .lockupp, .signupp, .sevenp{
	display:none;
}

.arrow img{
	width:10vw;
}

.lockupm{
	display:block;
	position: fixed;
	height: 100vh;
	width: 90vw;
	font-family: SweetSans;
	margin: 0 5vw;
	z-index:+10;
}

.footer{
	font-size:10px;
	top:80vh;
}

.hidden{
	display:none;
}


.seventleap{
	display: none;
}

.threet{
	margin-left:30vw;
	width:60vw;
}

.ninet{
	display:block;
	top:-40vh;
}

.nine{
	top:22vh;
}

.name{
	font-size:55px;
	letter-spacing: 20px;
}

.leapline{
	width:75vw;
}

.altbody{
	display:flex;
	flex-direction: column;
}

.altbody .col-4{
	margin-bottom:20px;
}

.dten{
display:block;
flex: none;
margin-top:15vh;
}

.basesection{
	height:140vh;
	top:963vh;
		z-index:+11;

}

.baseline.tent{
	margin-top:10px;
}

.eight{
	height:50vh;
}

.altfooter{
	top:20vh;
	display:flex;
	flex-direction: column;
}

.altfooter .col-7, .altfooter .col-4, .altfooter .col-1{
	margin-top:20px;
}

.button{
	width:30%;
}

#top{
text-align:center;
}


}
